/*animations accueil*/
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0turn);
    opacity: 1;
  }
  100% {
    transform: rotate(2turn);
    opacity: 0;
  }
}
/*animations menus*/
@keyframes apparition {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*-------------------------------------------- ACCUEIL------------------------*/
.body-home {
  max-width: 500px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.body-home .loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 226, 208, 0.3);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  animation-name: loader;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.body-home .loader-spiner {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  margin-top: 400px;
  position: fixed;
  animation: spin 2s linear 1 forwards;
}
.body-home header {
  display: flex;
  justify-content: center;
}
.body-home header img {
  width: 150px;
  height: auto;
  margin: auto;
}
.body-home h1 {
  font-size: 1.4em;
}
.body-home a {
  text-decoration: none;
}

.restaurants img {
  width: 300px;
  height: 200px;
}

.booking {
  background-color: #F6F6F6;
  height: 315px;
}
.booking__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  text-align: center;
}
.booking__location .fas {
  padding-right: 10px;
}
.booking__flex {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking__flex h1 {
  text-align: center;
  padding-top: 20px;
}
.booking__flex p {
  text-align: center;
}
.booking__flex-button {
  position: relative;
  height: 58px;
  width: 290px;
}
.booking__flex-button .booking-button__normal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  border-radius: 30px;
  padding-top: 18px;
  box-shadow: 4px 4px 8px #dddddd;
}
.booking__flex-button .booking-button__normal:hover {
  opacity: 0;
}
.booking__flex-button .booking-button__light {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom right, #a87ddb, #fc97df);
  border-radius: 30px;
  padding-top: 18px;
  opacity: 1;
  transition: opacity 200ms;
  box-shadow: 4px 4px 8px #777777;
}

.operation {
  height: 400px;
}
.operation h1 {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.operation-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 275px;
}
.operation-flex__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F6F6;
  max-width: 250px;
  width: 100%;
  max-height: 60px;
  height: 100%;
  border: 1px transparent solid;
  border-radius: 23px;
  box-shadow: 2px 5px 10px #C6C6C6;
  text-align: center;
  position: relative;
  box-shadow: 3px 3px 8px #cccccc;
}
.operation-flex__item__number {
  color: white;
  border: 1px transparent solid;
  width: 8px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30px;
  background-color: #9356DC;
  position: absolute;
  left: -12px;
}
.operation-flex__item .fas {
  padding-left: 20px;
  padding-right: 0px;
  color: #868686;
}

.restaurants {
  background-color: #F6F6F6;
  height: 1100px;
}
.restaurants h1 {
  padding-left: 10px;
  padding-top: 30px;
  margin-bottom: 10px;
}
.restaurants-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 1000px;
}
.restaurants-flex__item {
  background-color: white;
  border-radius: 20px;
  max-width: 290px;
  width: 100%;
  height: 220px;
  position: relative;
  color: black;
  box-shadow: 3px 3px 8px #cccccc;
}
.restaurants-flex__item img {
  border-radius: 20px 20px 0px 0px;
  max-width: 300px;
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.restaurants-flex__item h2 {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 1.1em;
}
.restaurants-flex__item p {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.restaurants-flex__item .far {
  font-size: 1.4em;
  position: absolute;
  right: 20px;
  bottom: 25px;
}
.restaurants-flex__item h3 {
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  top: 5px;
  right: 15px;
  border: 1px transparent solid;
  background-color: #99E2D0;
  color: #239C7E;
  padding: 6px;
  border-radius: 2px;
}
.restaurants-flex__item-heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 23px;
  height: 21px;
}
.restaurants-flex__item-heart .heart-empty {
  position: absolute;
  top: 1px;
  left: -0.5px;
  opacity: 1;
  transition: opacity 200ms;
  z-index: 2;
}
.restaurants-flex__item-heart .heart-empty:hover {
  opacity: 0;
}
.restaurants-flex__item-heart .heart-empty:hover + .heart-full {
  opacity: 1;
}
.restaurants-flex__item-heart .heart-full {
  opacity: 0;
  transition: opacity 1000ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  font-size: 1.4em;
}

/*------------------------------------------MENUS-------------------------------*/
.body-menu {
  max-width: 500px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
}
.body-menu header {
  display: flex;
  justify-content: flex-start;
}
.body-menu header div {
  width: 60px;
  padding-top: 20px;
  padding-left: 15px;
}
.body-menu header img {
  width: 150px;
  height: auto;
  margin: auto;
}
.body-menu h1 {
  font-size: 1.4em;
  padding-top: 20px;
}
.body-menu .fa-heart {
  margin-left: 30px;
}
.body-menu img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -3;
}
.body-menu a {
  text-decoration: none;
}

section {
  height: 1600px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -60px;
  padding-left: 15px;
  padding-right: 15px;
}
section h1 {
  font-family: "shrikhand", sans-serif;
  font-weight: normal;
}

.menu {
  height: 450px;
}
.menu h2 {
  font-weight: 400;
  font-variant: small-caps;
  margin-bottom: 0px;
}
.menu hr {
  border: 2px #99E2D0 solid;
  width: 40px;
  margin-left: 0px;
  margin-top: 0px;
}
.menu-flex {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu-flex__item {
  box-shadow: 3px 3px 8px #cccccc;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  position: relative;
  transition: width 200ms ease-in-out;
}
.menu-flex__item:hover .menu-flex__item-anim {
  width: 80px;
}
.menu-flex__item:hover .menu-flex__item-anim > .fa-check-circle {
  visibility: visible;
  animation: rotation 400ms;
  animation-delay: 600ms;
}
.menu-flex__item-text {
  width: 100%;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-flex__item-text h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-flex__item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-flex__item-price {
  width: 40px;
  height: 100%;
  position: relative;
  display: flex;
}

.booking-button {
  position: relative;
  height: 58px;
  width: 290px;
  margin: 0 auto;
  margin-top: 40px;
}
.booking-button__normal {
  box-shadow: 4px 4px 8px #bbbbbb;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  border-radius: 30px;
  padding-top: 18px;
  text-align: center;
}
.booking-button__normal:hover {
  opacity: 0;
}
.booking-button__light {
  box-shadow: 4px 4px 8px #777777;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom right, #a87ddb, #fc97df);
  border-radius: 30px;
  padding-top: 18px;
  text-align: center;
  opacity: 1;
  transition: opacity 200ms;
}

.menu-flex__item:nth-child(1) {
  animation: apparition 1000ms;
}

.menu-flex__item:nth-child(2) {
  animation: apparition 1000ms;
  animation-delay: 200ms;
}

.menu-flex__item:nth-child(3) {
  animation: apparition 1000ms;
  animation-delay: 400ms;
}

.menu-flex__item-anim {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  height: 100%;
  align-self: flex-end;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  margin: 0px;
  width: 0px;
  transition-property: width;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}

.fa-check-circle {
  visibility: hidden;
  font-size: 1.3em;
  color: white;
}

/*COMMUN*/
footer {
  background-color: #353535;
  color: white;
  line-height: 1.5em;
}
footer h2 {
  font-family: "shrikhand", sans-serif;
  font-weight: normal;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 40px;
}
footer ul {
  margin-bottom: 0;
  padding-bottom: 30px;
}
footer ul li {
  list-style: none;
}
footer ul li .fas {
  padding-right: 10px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

/*-------------------------------MEDIA QUERIES ACCUEIL-------------------------*/
@media screen and (min-width: 501px) and (max-width: 1200px) {
  .body-home {
    max-width: 1200px;
    width: 100%;
  }
  .body-home header img {
    width: 300px;
  }
  .body-home h1 {
    font-size: 2em;
  }
  .body-home p {
    font-size: 1.3em;
  }

  .booking {
    height: 370px;
  }
  .booking__location .fas {
    font-size: 1.4em;
  }
  .booking__flex__explore {
    font-size: 1.4em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 300px;
    height: 45px;
  }

  .operation {
    height: 450px;
  }
  .operation h1 {
    padding-left: 30px;
  }
  .operation-flex {
    height: 350px;
  }
  .operation-flex__item {
    max-width: 390px;
    width: 100%;
    max-height: 90px;
    height: 100%;
  }
  .operation-flex__item .fas {
    font-size: 1.4em;
  }
  .operation-flex__item__number {
    padding-left: 6px;
    padding-right: 11px;
  }

  .restaurants {
    height: 1280px;
  }
  .restaurants h1 {
    padding-left: 30px;
  }
  .restaurants-flex {
    height: 1200px;
    flex-direction: column;
  }
  .restaurants-flex__item {
    max-width: 400px;
    width: 100%;
    height: 275px;
  }
  .restaurants-flex__item img {
    max-width: 400px;
    width: 100%;
    height: 200px;
  }
  .restaurants-flex__item h2 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1201px) and (max-width: 2500px) {
  .body-home {
    max-width: 1900px;
    width: 100%;
  }

  .booking {
    height: 260px;
  }
  .booking__flex {
    height: 210px;
  }
  .booking__flex__explore {
    max-width: 300px;
    width: 100%;
    height: 35px;
    font-size: 1.1em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .operation {
    height: 200px;
  }
  .operation h1 {
    padding-left: 60px;
    font-size: 1.8em;
    margin: 0;
  }
  .operation-flex {
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
  }
  .operation-flex__item {
    max-width: 300px;
    width: 100%;
    padding-right: 60px;
  }

  .restaurants {
    height: 400px;
  }
  .restaurants h1 {
    padding-left: 60px;
    font-size: 1.8em;
  }
  .restaurants-flex {
    height: 300px;
    flex-direction: row;
  }
}
/*-------------------------------MEDIA QUERIES MENU-----------------------------*/
@media screen and (min-width: 501px) and (max-width: 1200px) {
  .body-menu {
    max-width: 1200px;
    width: 100%;
  }

  .section-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .section-flex .menu {
    max-width: 390px;
    width: 100%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 2500px) {
  .body-menu {
    max-width: 1900px;
    width: 100%;
  }

  img {
    height: 500px;
    object-fit: cover;
  }

  section {
    max-width: 1300px;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    margin-top: -60px;
    padding-top: 20px;
  }
  section .section-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  section .section-flex .menu {
    max-width: 400px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
