body {
  max-width: 500px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body header {
  display: flex;
  justify-content: center;
}
body header img {
  width: 150px;
  height: auto;
  margin: auto;
}
body h1 {
  font-size: 1.4em;
}

.restaurants img {
  width: 300px;
  height: 200px;
}

.booking {
  background-color: #F6F6F6;
  height: 315px;
}
.booking__location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  text-align: center;
}
.booking__location .fas {
  padding-right: 10px;
}
.booking__flex {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking__flex h1 {
  text-align: center;
  padding-top: 20px;
}
.booking__flex p {
  text-align: center;
}
.booking__flex__explore {
  text-decoration: none;
  color: white;
  background-color: #FF79DA;
  border: 1px transparent solid;
  border-radius: 30px;
  padding: 10px;
}

.operation {
  height: 400px;
}
.operation h1 {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.operation-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 275px;
}
.operation-flex__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F6F6;
  max-width: 250px;
  width: 100%;
  max-height: 60px;
  height: 100%;
  border: 1px transparent solid;
  border-radius: 23px;
  box-shadow: 2px 5px 10px #C6C6C6;
  text-align: center;
  position: relative;
}
.operation-flex__item__number {
  color: white;
  border: 1px transparent solid;
  width: 8px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 30px;
  background-color: #9356DC;
  position: absolute;
  left: -12px;
}
.operation-flex__item .fas {
  padding-left: 20px;
  padding-right: 0px;
  color: #868686;
}

.restaurants {
  background-color: #F6F6F6;
  height: 1100px;
}
.restaurants h1 {
  padding-left: 10px;
  padding-top: 30px;
  margin-bottom: 10px;
}
.restaurants-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 1000px;
}
.restaurants-flex__item {
  background-color: white;
  border: 1px transparent solid;
  border-radius: 20px;
  max-width: 290px;
  width: 100%;
  height: 220px;
  position: relative;
}
.restaurants-flex__item img {
  border-radius: 20px 20px 0px 0px;
  max-width: 300px;
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.restaurants-flex__item h2 {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 1.1em;
}
.restaurants-flex__item p {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.restaurants-flex__item .far {
  font-size: 1.4em;
  position: absolute;
  right: 20px;
  bottom: 25px;
}
.restaurants-flex__item h3 {
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  top: 5px;
  right: 15px;
  border: 1px transparent solid;
  background-color: #99E2D0;
  color: #239C7E;
  padding: 6px;
  border-radius: 2px;
}

footer {
  background-color: #353535;
  color: white;
  line-height: 1.5em;
}
footer h2 {
  font-family: "shrikhand", sans-serif;
  font-weight: normal;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 40px;
}
footer ul {
  margin-bottom: 0;
  padding-bottom: 30px;
}
footer ul li {
  list-style: none;
}
footer ul li .fas {
  padding-right: 10px;
}

@media screen and (min-width: 501px) and (max-width: 1200px) {
  body {
    max-width: 1200px;
    width: 100%;
  }
  body header img {
    width: 300px;
  }
  body h1 {
    font-size: 2em;
  }
  body p {
    font-size: 1.3em;
  }

  .booking {
    height: 370px;
  }
  .booking__location .fas {
    font-size: 1.4em;
  }
  .booking__flex__explore {
    font-size: 1.4em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 300px;
    height: 45px;
  }

  .operation {
    height: 450px;
  }
  .operation h1 {
    padding-left: 30px;
  }
  .operation-flex {
    height: 350px;
  }
  .operation-flex__item {
    max-width: 390px;
    width: 100%;
    max-height: 90px;
    height: 100%;
  }
  .operation-flex__item .fas {
    font-size: 1.4em;
  }
  .operation-flex__item__number {
    padding-left: 6px;
    padding-right: 11px;
  }

  .restaurants {
    height: 1280px;
  }
  .restaurants h1 {
    padding-left: 30px;
  }
  .restaurants-flex {
    height: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants-flex__item {
    max-width: 400px;
    width: 100%;
    height: 275px;
  }
  .restaurants-flex__item img {
    max-width: 400px;
    width: 100%;
    height: 200px;
  }
  .restaurants-flex__item h2 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1201px) and (max-width: 2500px) {
  body {
    max-width: 1900px;
    width: 100%;
  }

  .booking {
    height: 260px;
  }
  .booking__flex {
    height: 210px;
  }
  .booking__flex__explore {
    max-width: 300px;
    width: 100%;
    height: 35px;
    font-size: 1.1em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .operation {
    height: 200px;
  }
  .operation h1 {
    padding-left: 60px;
    font-size: 1.8em;
    margin: 0;
  }
  .operation-flex {
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
  }
  .operation-flex__item {
    max-width: 300px;
    width: 100%;
    padding-right: 60px;
  }

  .restaurants {
    height: 400px;
  }
  .restaurants h1 {
    padding-left: 60px;
    font-size: 1.8em;
  }
  .restaurants-flex {
    height: 300px;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
